.admin-container{
    display: flex;
    .admin-sidebar{
        .pro-sidebar{
            height: 100vh !important;
        }
    }
    .admin-header{
        height: 80px;
        border: 1px solid orange;
    }
    .admin-main{
        border: 1px solid red;
    }
}
