body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .navbar {
      background-color: #836379 !important;
      opacity: 0.5;
      z-index: 10;
      .nav-link {
        color: white !important;
        &.active {
          color: rgb(0, 217, 255) !important;
        }
      }
    }
  }
}


video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}